<header>
    <nav class="header-nav o-container">
        <a href="#home-section">
            <picture id="header-nav-logo" class="header-nav__logo">
                <source
                    media="(max-width: 900px)"
                    srcset="/src/assets/images/global/logo/logo-text.svg"
                />
                <img
                    id="header-nav-img"
                    src="/src/assets/images/global/logo/extended-logo.svg"
                    alt="Logo"
                />
            </picture>
        </a>

        <div id="header-nav-menu" class="header-nav__menu">
            <ul class="header-nav__list u-nowrap">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#history-section"
                        >Historia</a
                    >
                </li>

                <li id="patrimony-item" class="header-nav__item">
                    <div class="header-nav__link-content">
                        <a class="header-nav__link" href="#patrimony-section"
                            >Patrimonio</a
                        >
                        <i id="caret-icon" class="fa-solid fa-caret-right"></i>
                    </div>
                    <ul id="header-nav-sublist" class="header-nav__sublist">
                        <li class="header-nav__subitem">
                            <a
                                class="header-nav__sublink"
                                href="#patrimony-section"
                                >Patrimonio urbano</a
                            >
                        </li>
                        <li class="header-nav__subitem">
                            <a
                                class="header-nav__sublink"
                                href="#patrimony-section"
                                >Patrimonio natural</a
                            >
                        </li>
                        <li class="header-nav__subitem">
                            <a
                                class="header-nav__sublink"
                                href="#patrimony-section"
                                >Patrimonio inmaterial</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="header-nav__item">
                    <a class="header-nav__link" href="#gastronomy-section"
                        >Gastronomía</a
                    >
                </li>

                <li class="header-nav__item">
                    <a class="header-nav__link" href="#events-section"
                        >Eventos</a
                    >
                </li>

                <!--<li class="header-nav__item">
                  <a class="header-nav__link" href="#guide-section"
                      >Guia turística</a
                  >
              </li>-->
            </ul>

            <div id="close-btn" class="header-nav__close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div id="hamburger-btn" class="header-nav__hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
    <span class="header__shadow"></span>
</header>
