/**
* Style specific html tags
*/

body {
  font-family: $primary-font;
  color: $color-primary;
  background-color: $color-body;
}

header {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;

  /* Box model */
  width: 100%;

  /* Typography */

  /* Visual */

  /* Other */

  .header__shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; //Permite acceder a los elementos del header
    background: $gradient-header-shadow;
  }
}
